# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
*.db
*.csv

# Arquivos de ambiente virtual (se usar no futuro)
venv/
.venv/

# Pastas e arquivos de compilação do PyInstaller
/dist/
/build/
*.spec

# Executáveis
*.exe